/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  
/* Header Styles */
header {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
  
header .logo {
  font-size: 24px;
  font-weight: bold;
}

  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
  
  main {
    padding: 20px;
    margin: 60px auto;
    max-width: 1200px;
  }
  
  main img {
    grid-column: span 6;
    width: 100%;
  }
  
  main .welcome {
    grid-column: 8 / span 5;
    text-align: center;
  }
  
  main h3 {
    grid-column: span 12;
    text-align: center;
    text-decoration: underline;
    font-size: 1.5em;
  }
  
  main .card {
    grid-column: span 4;
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
  }
  
  @media (max-width: 1200px) {
    main img {
      grid-column: 2 / span 10;
    }
  
    main .welcome {
      grid-column: 2 / span 10;
    }
  
    main .card {
      grid-column: span 6;
    }
  }
  
  @media (max-width: 750px) {
    header {
      padding: 20px 0;
    }
  
    header h1 {
      grid-column: span 12;
      text-align: center;
      margin: 0;
    }
  
    header nav {
      grid-column: span 12;
      justify-self: center;
    }
  
    main img {
      grid-column: span 12;
    }
  
    main .welcome {
      grid-column: span 12;
    }
  
    main .card {
      grid-column: span 12;
    }
  }
  
  footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: white;
    text-decoration: none;
  }
  